:root {
  --Tropical-Blue: #dbe4fa;
  --Elm: #1e8f70;
  --Tango: #ee7314;
  --HopBush: #d65fb1;
  --LasPalmas: #c0e110;
  --SeaPink: #ebaba4;
  --Illusion: #f596bd;
  --Glacier: #84b8c3;
  --Sail: #afc7f9;
  --BitterSweet: #ff5960;
}
body {
  margin: 0px;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  background-size: 100% 100%;
}

h1 {
  font-weight: bolder;
  text-align: center;
  font-size: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: var(--Glacier);
  width: 3rem;
  height: 3rem;
  margin: 0.2rem 0.2rem 0.4rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--BitterSweet);
}

.grid a:hover {
  background-color: var(--Elm);
  color: white;
  text-decoration: none;
}

.footer {
  align-content: center;
  padding: 1rem;
  bottom: 0%;
  position: scroll;
  width: 80%;
  margin: auto;
}

.social-container {
  margin-top: 0rem;
  flex-direction: column;
  align-content: center;
}

.social-icons {
  padding: 0rem 1rem;
  margin: auto;
  margin-bottom: 1rem;
}

.back {
  margin: 3rem auto;
  color: var(--Tropical-Blue);
  font-size: 1.2rem;
  width: fit-content;
  padding: 0.5rem 1rem;

  border-radius: 1.5rem;
  background-color: var(--Glacier);
}

.back a {
  font-weight: bold;
  color: var(--Tropical-Blue);
}

.back a:hover {
  border-bottom: 2px solid var(--Tropical-Blue);
}

section h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin: auto;
  max-width: 65%;
}

section {
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  max-width: 85%;
}

.angle {
  border-radius: 1rem;
  width: 3.5rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1.5rem 1rem 0rem 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  max-height: 0.8rem;
}

.side {
  border-radius: 1rem;
  width: 3.5rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1.5rem 1rem 0rem 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  max-height: 0.8rem;
}

.Tside {
  font-size: 1.3rem;
}

.triangle div {
  height: 2px;
  background-color: var(--Tango);
}
.triangle {
  position: relative;
  width: 104px;
  height: 104px;
  margin: 0 auto 20px;
}
.triangle label {
  position: absolute;
  font-size: 0.8rem;
}

.sideA {
  left: -15px;
  top: 45px;
}
.sideB {
  left: 45px;
  top: 105px;
}
.sideC {
  left: 50px;
  top: 35px;
}
.triangle .line1 {
  width: 100px;
  bottom: -102px;
}

.triangle .line2 {
  width: 100px;
  transform: rotate(90deg);
  top: 50px;
  left: -50px;
}
.triangle .line3 {
  width: 141.42px;
  transform: rotate(45deg);
  top: 50px;
  left: -20px;
}
.triangle .line4 {
  width: 71px;
  transform: rotate(135deg);
  left: -12px;
  top: 72px;
}
.triangle .line5 {
  width: 8px;
  transform: rotate(135deg);
  left: 50px;
  top: 55px;
}
.triangle .line6 {
  width: 12px;
  transform: rotate(45deg);
  left: 41px;
  top: 50px;
}
.line {
  position: relative;
  bottom: -100px;
}
